@import "tailwindcss";

@theme inline {
  /* Color Palette */
  --color-red: #E60022;
  --color-mint: #B1D6B5;
  --color-gold: #C1AF5B;
  --color-dark: #191E22;
  --color-white: #FFFFFF;
  --color-green: #1A4B22;
  
  /* Fonts */
  --font-headings: var(--font-syne);
  --font-body: var(--font-outfit);
}

body {
  background: var(--color-dark);
  color: var(--color-white);
  font-family: var(--font-outfit), sans-serif;
}
